/* ===============================================
    TABLE  OF CONTENT:
    ------------------
- 1/ CSS Basic classes
- 2/ base
- 3/ elements
- 4/ Layouts
- 5/ Pages
=============================================== */
/* ===================
- 1/ CSS Basic classes
=======================*/

/*-----------------------------
  media query
-----------------------------*/
/*-----------------------------
    mixin prefix
  -----------------------------*/
/*-----------------------------
    mixin animation
  -----------------------------*/
body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
  -ms-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  font-family: "SoraStd", sans-serif;
  font-size: 16px;
  color: #183b56;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

#wrapper,
#content {
  width: 100%;
  height: 100%;
}

/*-----------------------------
  button, input , a , btn
-----------------------------*/
button,
input {
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -o-outline: 0 !important;
  -ms-outline: 0 !important;
  outline: 0 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn,
.btn.focus,
.btn:active,
.btn.active,
.btn:focus {
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  border: 0;
}

img {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/*-----------------------------
  Selection
-----------------------------*/
::-moz-selection {
  background-color: #05B7D1;
  color: #ffffff;
}
::selection {
  background-color: #05B7D1;
  color: #ffffff;
}

.color_black {
  color: #183b56;
}

.w-full {
  width: 100%;
}

.hr {
  height: 1px;
  width: 100%;
  background: #e2eef1;
}

.hr2 {
  height: 1px;
  width: 100%;
  background: #cad1d8;
}

.dashed_box {
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%237B61FFFF' stroke-width='3' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 2.5rem;
}

@media screen and (max-width: 991px) {
  .dashed_box {
    padding: 15px;
  }
}


.txt_xs {
  font-size: 13.5px;
}

.mt-100 {
  margin-top: 10rem;
}


@media screen and (max-width: 991px) {
  .mt-100 {
    margin-top: 70px !important;
  }
}



.space-y-20 > :not([hidden]) ~ :not([hidden]) {
  --cb-space-y-reverse: 0;
  margin-top: calc(20px * calc(1 - var(--cb-space-y-reverse)));
  margin-bottom: calc(20px * var(--cb-space-y-reverse));
}

.space-x-20 > :not([hidden]) ~ :not([hidden]) {
  --cb-space-x-reverse: 0;
  margin-right: calc(20px * var(--cb-space-x-reverse));
  margin-left: calc(20px * calc(1 - var(--cb-space-x-reverse)));
}


/* ===================
2/ base
=======================*/
/*--------------------------------------------------------------
## Include Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: "circular";
  src: url("../fonts/CircularStd-Regular.woff") format("woff"), url("../fonts/CircularStd-Regular.woff2") format("woff2"), url("../fonts/CircularStd-Regular.svg") format("svg"), url("../fonts/circular.ttf") format("truetype");
}

@font-face {
  font-family: "circular_bold";
  src: url("../fonts/CircularStd-Bold.svg") format("svg"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/Circular-Bold.ttf") format("truetype");
  font-weight: normal;
}

/*--------------------------------------------------------------
## Base
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #183b56;
  background: #ecf1f9;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15.5px;
  }
}

body.is__dark {
  background: #0b1b27;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 800px !important;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1510px) {
  .index_page .container {
    max-width: 1400px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "circular_bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  margin: 0;
  padding: 0;
}

section:focus {
  outline: none !important;
}

a {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "circular";
  color: #6f7583;
}



.effect {
  background-image: url(../img/bg/effect.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.heading {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "circular_bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: bold;
  text-align: inherit;
  position: relative;
  color: #183b56;
  letter-spacing: -0.01em;
}

a {
  color: #566ffe;
}

a:hover {
  color: #566ffe;
}

h1 {
  font-size: calc(
 40px + 15 * ((100vw - 576px) / 1024));
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    line-height: 1.15 !important;
  }
}

h2 {
  font-size: calc(
 32px + 2 * ((100vw - 576px) / 1024));
  line-height: 1.15;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  font-size: calc(
 24px + 2 * ((100vw - 576px) / 1024));
  line-height: 1.1;
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1600px) {
  h3 {
    font-size: 26px;
  }
}

h4 {
  font-size: calc(
 19px + 1 * ((100vw - 576px) / 1024));
  line-height: 1.35;
}

@media screen and (max-width: 576px) {
  h4 {
    font-size: 19px;
  }
}

@media screen and (min-width: 1600px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: calc(
 16px + 2 * ((100vw - 576px) / 1024));
  line-height: 1.5;
}

@media screen and (max-width: 576px) {
  h5 {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: calc(
 15.5px + 0.5 * ((100vw - 576px) / 1024));
  line-height: 1.5;
  letter-spacing: 0;
}

@media screen and (max-width: 576px) {
  h6 {
    font-size: 15.5px;
  }
}

@media screen and (min-width: 1600px) {
  h6 {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
p {
  width: 100%;
  margin: 0 auto;
  display: block;
  color: #6f7d95;
  line-height: 1.6;
}

/* ===================
3/ elements
=======================*/
/*--------------------------------------------------------------
## btn styles
--------------------------------------------------------------*/
input[type="submit"],
.btn,
a.btn input.btn,
a.button,
span.button,
div.button {
  color: white;
  padding: 11px 15px;
  min-height: 20px;
  line-height: 20px;
  margin: 0 8px;
  border-radius: 4px;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  position: relative;
  text-align: center;
  border-radius: 100px !important;
  overflow: hidden;
  will-change: transform, box-shadow;
}




/* ==================================================+===
- - - - - - - - - 2/ Button variations
=======================================================*/

.btn-dark {
  background: #183b56;
  color: #ffffff;
  border: solid 1px #183b56;
}

.btn-dark:hover, .btn-dark:focus {
  color: #ffffff !important;
  background: #183b56 !important;
  border: solid 1px #183b56;
}

.btn-dark.btn-sh {
  -webkit-box-shadow: 0 14px 35px -11px #183b56;
          box-shadow: 0 14px 35px -11px #183b56;
}

.btn-dark.btn-outline {
  border: solid 2px #183b56;
  background: transparent !important;
  color: #183b56;
}

.btn-dark.btn-outline:hover {
  color: #566ffe !important;
}

.btn-dark.btn-outline-bottom {
  border-bottom: solid 3px #183b56;
  background: transparent !important;
  color: #183b56;
}

/* ==================================================+===
- - - - - - - - - 3 / outher button
=======================================================*/
.facebook-btn {
  background-color: #4267b2;
}

.facebook-btn:hover {
  background-color: #4267b2;
}

.twitter-btn {
  background-color: #1da1f2;
}

.twitter-btn:hover {
  background-color: #1da1f2;
}

.discord-btn {
  background-color: #5865f2;
}

.discord-btn:hover {
  background-color: #5865f2;
}

.telegram-btn {
  background-color: #0088cc;
}

.telegram-btn:hover {
  background-color: #0088cc;
}

.instagram-btn {
  background: radial-gradient(circle farthest-corner at 0% 150%, #ffe17d 0%, #ffcd69 12%, #fa9137 25%, #eb4141 41%, transparent 95%), linear-gradient(-15deg, #234bd7 -10%, #c33cbe 65%);
}

.instagram-btn:hover {
  background: radial-gradient(circle farthest-corner at 0% 150%, #ffe17d 0%, #ffcd69 12%, #fa9137 25%, #eb4141 41%, transparent 95%), linear-gradient(-15deg, #234bd7 -10%, #c33cbe 65%);
}

/*--------------------------------------------------------------
## form styles
--------------------------------------------------------------*/


@media screen and (max-width: 576px) {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select,
  textarea,
  .custom-select {
    padding: 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select,
  textarea,
  .custom-select {
    font-size: 13px;
  }
}


.popup .modal-content {
  border: solid 1px #e2eef1;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 17px 13px 0px #192c4b05;
          box-shadow: 0px 17px 13px 0px #192c4b05;
}

.popup .close {
  position: absolute;
  right: -15px;
  top: -15px;
  -webkit-box-shadow: 0px 17px 13px 0px #192c4b05;
          box-shadow: 0px 17px 13px 0px #192c4b05;
  outline: none;
  border: solid 1px #e2eef1;
  background-color: #ffffff;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.popup .close:hover {
  background-color: #183b56;
  border: solid 1px #183b56;
}

#popup_preview .modal-content {
  max-width: 20rem;
}

@media screen and (max-width: 991px) {
  .edit_box {
    padding: 20px !important;
  }
}

.box {
  background: #ffffff;
  border: solid 1px #e2eef1;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 17px 13px 0px #192c4b05;
          box-shadow: 0px 17px 13px 0px #192c4b05;
  display: block;
}


.box.is__big {
  padding: 30px !important;
}

@media screen and (max-width: 991px) {
  .box.is__big {
    padding: 20px !important;
  }
}



.hero__kit,
.hero_marketplace,
.hero_ranking,
.hero_forum,
.hero_questions,
.hero_no_results,
.hero_privacy,
.hero_upcoming_projects {
  padding: 70px 0;
  border-bottom: 1px solid #e2eef1;
}


.hero_no_results {
  border-bottom: none;
}

.hero_no_results .search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 40px;
  margin-left: auto;
  margin-right: auto;
}

.hero_no_results .search__box i {
  font-size: 50px;
}

.hero_no_results .hero__title,
.hero_no_results .input__box {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.hero_no_results .hero__desc {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}



/* ===================
- 5/ Pages
=======================*/
.typoghraphy {
  position: relative;
  overflow: hidden;
  position: relative;
}

.typoghraphy::before {
  content: "";
  position: absolute;
  content: "Aa";
  opacity: 0.1;
  font-size: 200px;
  font-family: "circular_bold";
  bottom: -6rem;
  left: -2rem;
}



@media screen and (max-width: 991px) {
  .login {
    height: auto;
  }
}


.demos_wrap::before {
  content: "";
  position: absolute;
  background: url(../img/icons/demo_effect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 0;
  height: 100rem;
  width: 100%;
  top: -20rem;
  z-index: -1;
}



.is__dark {
  background: #0b1b27;
}

.is__dark .hero_marketplace,
.is__dark .hero__1,
.is__dark .hero__profile,
.is__dark .hero__collections,
.is__dark .hero__activity,
.is__dark .hero__kit,
.is__dark .bg_white,
.is__dark .accordion,
.is__dark .hero__profile .infos {
  background: #183b56 !important;
  border-color: #ffffff1f;
}




.is__dark .border-b {
  border-color: #ffffff1f;
}



.is__dark *:not(p):not(.btn),
.is__dark .collection_title a,
.is__dark div {
  color: #ffffff;
}

.is__dark * {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}


.is__dark label,
.is__dark .btn-dark,
.is__dark .header__1 .header__mobile {
  background: #305571;
}

.is__dark .color_green {
  color: #36b37e !important;
}

.is__dark p,
.is__dark span {
  color: #a5afc1;
}

.is__dark .box.is__live,
.is__dark .call2action {
  background: #091620 !important;
  border: none;
}


.is__dark .box {
  background-color: #183b56 !important;
  border: none;
}



.is__dark .btn-white,
.is__dark .tags,
.is__dark .light_bg {
  color: white;
  background: #183b56;
}

.is__dark .bg-white,
.is__dark .call2action.is__light {
  background: #08131b !important;
}


.is__dark .card__item.one .card_head .details {
  background: #0d1013;
}

.is__dark .block_timer .item {
  background: #183b56;
  color: white;
}

.is__dark .has_number {
  border-color: #183b56 !important;
  background: radial-gradient(100% 100% at 53.13% 0%, #31e7fa 0%, #4477ff 52.6%, #db74ff 100%);
}

.is__dark input[type="text"],
.is__dark input[type="email"] {
  background-color: #0b1b27 !important;
  border: none !important;
}



.is__dark .effect {
  background-image: none;
}

.is__dark .box {
  border: none;
}


.is__dark .overflow_log::before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#0b1b2773), color-stop(#0b1b27d6), to(#0b1b27));
  background: linear-gradient(transparent, #0b1b2773, #0b1b27d6, #0b1b27);
}

/*# sourceMappingURL=style.css.map */
